<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/51a516f5-dd68-492a-94e9-0fc57d66dd73/resourceGroups/ensolvers/providers/Microsoft.Web/sites/ensolvers-test-back</ResourceId>
    <ResourceGroup>ensolvers</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://ensolvers-test-back.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>bf74a34e-d080-4064-88dc-ffd302c4396b</ProjectGuid>
    <PublishUrl>https://ensolvers-test-back.scm.azurewebsites.net/</PublishUrl>
    <UserName>$ensolvers-test-back</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>